@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap');

body {
    background-color: #FFFDFD;
}

html {
  max-width: 100%;
  overflow-x: hidden;

}

.css-button-sliding-to-left--black {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #000000;
  color: #000000;
}
.css-button-sliding-to-left--black:hover {
  color: #fff;
}
.css-button-sliding-to-left--black:hover:after {
  width: 100%;
}
.css-button-sliding-to-left--black:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  right: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #000000;
}

.large-text {
    font-family: 'Oswald', sans-serif;
    padding-top: 50px;
    font-size: 100px;
}

.small-text {
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 30px;
}

.watch {
    width: 400px;
}

.baccc {
    background-image: url(img/background333.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.bu {
    font-family: 'Oswald', sans-serif; 
    font-size: 50px; 
    background-color: black; 
    padding-left: 50px; 
    padding-right: 50px;
    padding-bottom: 10px;
}

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: white;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .bbar {
    padding-top: 400px; 
    float: left; 
    width: 100%;
  }

  .backg {
    background-color:#070504; padding: 20px; padding-top: 32px;padding-bottom: 100px; font-family: 'Raleway', sans-serif; font-size: 20px;
  }

  .topcd {
    animation: fadeInDown;
    animation-duration: 1s;
  }

  .botcd {
    animation: fadeInUp;
    animation-duration: 1.7s;
  }

  .img1 {
    padding-left: 50px; 
    padding-top: 85px;
  }

  .img2 {
    padding-left: 50px; 
    padding-top: 185px;
  }

  .img3 {
    padding-left: 160px;  
    width: 23%;  
    margin-top: 335px;
  }

  .img4 {
    padding-left: 200px; 
    width: 25%; 
    margin-top: 495px;
  }

  .txt {
    width: 660px; 
    height: 200px; 
    padding: 40px; 
    font-family: 'Raleway', sans-serif; 
    font-size: 45px;
  }

  .txt2 {
    color: black; padding-top: 75px;
  }

  .wh {
    color: white;
  }

  .backg2 {
    background-image: url(img/bg.png); 
    background-repeat: no-repeat; 
    background-size: cover;   
    height: 200%; 
  }